<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button
        color="light"
        defaultHref="search-chef"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
    <ion-icon name="cart" slot="end"></ion-icon>
    <ion-badge id="notifications-badge" color="danger">5</ion-badge>
    <img slot="end" src="assets/cozinheira.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="image">
      <img src="assets/cozinheira.png" />
    </div>
    <div class="desc">
      <h3>Annie Duffy</h3>
      <p>annieduffy@gmail.com</p>
    </div>
    <div class="edit">
      <ion-button color="danger">Edit</ion-button>
    </div>
  </div>
  <div class="upperBox">
    <ion-list>
      <ion-item>
        <img src="assets/pedidos.jpg" />
        <ion-label>Meus pedidos</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/favorito.png" />
        <ion-label>Meus favoritos</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/credit-card.png" />
        <ion-label>Métodos de pagamento</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/casa.jpg" />
        <ion-label>Meu endereço</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/dinheiro.png" />
        <ion-label>Histórico de pagamento</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/settings.png" />
        <ion-label>Configurações</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/gifts.png" />
        <ion-label>Recompensas</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/senha.png" />
        <ion-label>Mudar senha</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div class="upperBox">
    <ion-list>
      <ion-item>
        <img src="assets/faq.png" />
        <ion-label>FAQ e Suporte</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/terms.png" />
        <ion-label>Privacidade e Políticas</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <img src="assets/amigos.png" />
        <ion-label>Convidar Amigos</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
