<ion-content>
  <div class="img">
    <div class="top">
      <div class="back_div">
        <ion-icon name="arrow-back-outline" color="light"></ion-icon>
        <ion-icon name="star-outline" color="light" id="end"></ion-icon>
      </div>
    </div>
    <div class="bottom">
      <div class="first">
        <img src="assets/cozinheira.png" />
      </div>
      <div class="second">
        <h4>Patrícia Luke</h4>
        <p>Houston Texas</p>
        <p>3.0 <ion-icon name="star-outline"></ion-icon>(125 reviews)</p>
      </div>
      <div class="third">
        <h4>$20/Hr</h4>
        <ion-button size="small" color="success">OPEN</ion-button>
      </div>
    </div>
    <img src="assets/panelas.jpg" id="myimg" />
  </div>
  <div class="menu">
    <div class="menuDiv">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <p>Message</p>
    </div>
    <div class="menuDiv">
      <ion-icon name="call"></ion-icon>
      <p>Call</p>
    </div>
    <div class="menuDiv">
      <ion-icon name="map-outline"></ion-icon>
      <p>Direction</p>
    </div>
    <div class="menuDiv">
      <ion-icon name="share-outline"></ion-icon>
      <p>Share</p>
    </div>
  </div>
  <div class="ch-menu">
    <p>Chef Menu</p>
    <div class="wrapper">
      <div class="item" *ngFor="let item of user">
        <img id="img" src="assets/{{item.image}}" />
        <p class="para">{{ item.title | slice:0:7}}</p>
      </div>
    </div>
    <ion-segment [value]="segId" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="overview">
        <ion-label>OverView</ion-label>
      </ion-segment-button>
      <ion-segment-button value="services">
        <ion-label>Services</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reviews">
        <ion-label>Reviews</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="content">
    <div class="overview" *ngIf="segId === 'overview'">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <p>About</p>
          </ion-col>
          <ion-col size="7">
            <p class="ion-text-end"><span>Avarage price:</span><span>$20/</span>hour</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <p class="intro">Hi I am Patricia Luke I've always had a passion for cooking. In the day im a Chef for a 5 star restaurant. Afterwards I use Open Kitchen to share my passions to the world.<span>Read more</span></p>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <p>Hours Available</p>
          </ion-col>
          <ion-col size="7">
            <p class="ion-text-end"><span></span><span>View Details</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <div class="hrs">
        <ion-label>
          <ion-icon name="ellipse"></ion-icon><span>Monday - Friday : </span>4:00pm 8:00pm
        </ion-label>
        <br>
        <ion-label>
          <ion-icon name="ellipse"></ion-icon><span>Saturday - Sunday : </span>7:00am - 8:00pm
        </ion-label>
      </div>
      <br>
      <div class="address">
        <h3>Address</h3>
        <ion-label>16704 Bishop Knoll, Houston, Texas 77084, USA</ion-label>
        <h3>Photos<span>View All</span></h3>
        <div class="lower-box">
          <div class="wrapper">
            <div class="item" *ngFor="let item of dish">
              <img id="img" src="assets/{{item.image}}">
            </div>
          </div>
        </div>
        <ion-button expand="block" (click)="goToEvent()">Book a Chef</ion-button>
      </div>
    </div>
    <div class="services" *ngIf="segId === 'services'">
      <div class="lower-box">
        <div class="wrapper">
          <div class="item" *ngFor="let item of dish">
            <img id="img" src="assets/{{item.image}}">
          </div>
        </div>
        <div *ngFor="let order of orders" class="innerService">
          <p id="date">{{ order.date }}</p>
          <div class="upperBox1" *ngFor="let unicaordem of order.transactions">
            <div class="image">
              <img src="assets/{{ unicaordem.image }}">
            </div>
            <div class="title">
              <h3>{{ unicaordem.title }}</h3>
            </div>
            <div class="menu">
              <h3>
                <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
              </h3>
            </div>
            <div class="amount">
              <h3>${{ unicaordem.amount }}</h3>
            </div>
            <div class="time">
              <p>Est. Time : {{ unicaordem.time }}</p>
            </div>
            <div class="edit">
              <button class="btn" type="submit" (click)="presentActionSheet()">add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews" *ngIf="segId === 'reviews'">
      <p class="title">Write Your Reviews</p>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-avatar>
              <img src="assets/cozinheira.png">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Deixe sua experiência"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="linha">
          <ion-col></ion-col>
          <ion-col>
            <div class="edit">
              <button class="btn" type="submit" (click)="presentActionSheet()">POST</button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="title">All Reviews</p>
          </ion-col>
        </ion-row>
        <ion-row class="comentarios">
          <ion-col size="2">
            <ion-avatar>
              <img src="assets/cozinheiro.png">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-label class="nome">Kevin Doyle</ion-label>
            <ion-label class="tempo">2 anos atrás</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
    </div>
  </div>
</ion-content>
