ion-content {
  --background: #FFFFFF;
  .img{
    background: #000000;
    overflow: hidden;
    height: 250px;
    width: 100%;
    position: relative;
    .top{
      margin-top: 40px;
      margin-left: 20px;
      margin-right: 20px;
      position: absolute;
      width: 100%;
      z-index: 999;
      .back_div{
        font-size: 30px;
        position: relative;
        #end{
          float: right;
          margin-right: 40px;
        }
      }
    }
    .bottom{
      bottom: 10px;
      left: 10px;
      position: absolute;
      right: 10px;
      z-index: 999;
      height: 80px;
      display: grid;
      grid-template-columns: 25% 55% 20%;
      grid-template-rows: 80px auto 80px;
      color: #FFFFFF;
      .first{
        justify-self: start;
        img{
          width: 70px;
          height: 70px;
          border-radius: 50px;
        }
      }
      .second{
        justify-self: start;
        align-self: start;
        h4{
          margin-top: -3px;
        }
        p{
          margin-top: -10px;
        }
      }
      .third{
        h4{
          margin-top: -5px;
        }
      }
    }
    #myimg{
      width: 100%;
      object-fit: cover;
      opacity: 0.3;
    }
  }

  .menu{
    background-color: #F8F8F8;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    border-bottom: 1px solid #CCCCCC;
    .menuDiv{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      ion-icon{
        font-size: 28px;
        color: red;
        vertical-align: middle;
      }
    }
  }
  .ch-menu{
    margin-top: -20px;
    background-color: #F8F8F8;
    width: 100%;
    height: 200px;
    p{
      margin-left: 20px;
      padding-top: 20px;
      color: red;
      font-size: 20px;
    }
    .wrapper{
      max-width: 100%;
      border: none;
      display: flex;
      overflow-x: auto;
      margin-top: -10px;
      .item{
        min-width: 100px;
        height: auto;
        position: relative;
        #img{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: block;
          margin-right: auto;
          margin-left: auto;
          border: 3px solid #FFFFFF;
          outline: 1px solid red;
        }
        p{
          margin-top: -10px;
          font-size: 12px;
        }
      }
    }
    ion-segment{
      --background: #F8F8F8;
      ion-segment-button{
        --indicator-color: #F15B3A;
        --color-checked: #F8F8F8;
        font-weight: bold;
      }
    }
  }
  .content{
    margin-top: -10px;
    .overview{
      span:nth-of-type(1){
        color:gray;
      }
      span:nth-of-type(2){
        color:red;
      }
      .intro{
        padding: 0px 20px;
        color: gray;
        margin-top: -10px;
        text-align: justify;
        span{
          color:red;
        }
      }
      .hrs{
        padding-left: 10px;
        margin-top: -20px;
        span{
          color: gray;
        }
        ion-icon{
          color:rgb(145, 231, 16);
        }
      }
      .address{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        ion-label{
          color: gray;
        }
        h3{
          color:red;
          span{
            float: right;
            margin-right: 10px;
          }
        }
        .lower-box{
          .wrapper{
            max-width: 100%;
            border: none;
            display: flex;
            overflow-x: auto;
            .item{
              min-width: 110px;
              height: 110px;
              line-height: 110px;
              margin-right: 10px;
              #img{
                width: 100%;
                height: 110px;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
    .services{
      margin-top: 50px;
      .lower-box{
        .wrapper{
          max-width: 100%;
          border: none;
          display: flex;
          overflow-x: auto;
          .item{
            min-width: 110px;
            height: 110px;
            line-height: 110px;
            margin-right: 10px;
            #img{
              width: 100%;
              height: 110px;
              border-radius: 10px;
            }
          }
        }
        .wrapper::--webkit-scrollbar{
          width: 0;
        }

      .innerService{
        .upperBox1{
          background-color: #FFFFFF;
          margin-top: 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          height: auto;
          display: grid;
          grid-template-columns: 40% 35% 15% 10%;
          grid-template-rows: 15% 35% 35% 15%;
          gap: 5px 5px;
          grid-template-areas:
          "image title title menu"
          "image orderId orderId orderId"
          "image amount status status"
          "image time edit edit";
          .image{
            grid-area: image;
            #img{
              padding: 10px;
              border-radius: 5px;
              height: auto;
              width: 100%;
            }
          }
          .title{
            grid-area: title;
            color:#F15B3A;
            margin-top: -15px;
            h3{
              font-size: 24px;
            }
          }
          .menu{
            grid-area: menu;
            margin-right: 10px;
            justify-self: center;
          }
          .amount{
            grid-area: amount;
            align-self: start;
            justify-self: start;
            margin-top: -45px;
          }
          .time{
            grid-area: time;
            font-size: small;
            p{
              margin-top: -30px;
            }
          }
          .edit{
            grid-area: edit;
            margin-top: -50px;
            .btn{
              font-size: 18px;
              background: #F15B3A;
              padding: 10px 20px;
              text-align: center;
              color: #FFFFFF;
            }
          }
        }
      }
    }
    }
    .reviews{
      margin-top: 30px;
      .title{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        color: gray;
      }
      ion-grid{
        margin-top: -30px;
      }
      .linha{
        border-bottom: 1px solid gray;;
      }
      ion-input{
        background: #DCDCDC;
        border-radius: 20px;
      }
      .edit{
        align-items: end;
        .btn{
          font-size: 18px;
          background: #F15B3A;
          padding: 10px 20px;
          text-align: center;
          color: #FFFFFF;
          margin-left: 50px;
          border-radius: 30px;
        }
      }
      .nome{
        font-size: 18px;
        color: #F15B3A;
      }
      .tempo{
        color: gray;
        margin-left: 100px;
      }
      .comentarios{
        margin-top: -30px;
      }
    }
  }
}
