<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="search-chef"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
    <ion-icon name="cart" slot="end"></ion-icon>
    <ion-badge id="notifications-badge" color="danger">5</ion-badge>
    <img slot="end" src="assets/cozinheira.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <ion-segment value="recebidos" (ionChange)="segmentChange($event)">
      <ion-segment-button value="recebidos">
        <ion-label>Recebidos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="finalizados">
        <ion-label>Finalizados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngFor="let pedido of pedidos">
    <p id="data">{{pedido.data}}</p>
    <div class="upperBox" *ngFor="let umpedido of pedido.pedido">
      <div class="image">
        <img src="assets/{{umpedido.imagem}}">
      </div>
      <div class="title">
        <h3>{{umpedido.titulo}}</h3>
      </div>
      <div class="menu">
        <h3>
          <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
        </h3>
      </div>
      <div class="orderId">
        <p>Código do pedido: #{{umpedido.transCod}}</p>
      </div>
      <div class="amount">
        <h3>${{umpedido.preco}}</h3>
      </div>
      <div class="status">
        <p [ngStyle]="{'color':(umpedido.status === 'CONFIRMADO') ? 'green' : 'red', 'background' : (umpedido.status === 'CONFIRMADO') ? '#E4F4EB' : '#F7D0C7'}">{{umpedido.status}}</p>
      </div>
      <div class="time">
        <p>Tempo: {{umpedido.tempo}}</p>
      </div>
      <div class="edit">
        <button class="btn" type="submit">Reorder</button>
      </div>
    </div>
  </div>
</ion-content>
